.multistate_component_2 {
    display: flex;
    flex-grow: 1;
}

.multistate_component_2-default-1 {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #8A05BE;
    flex-grow: 1;
}

.multistate_component_2-0-0-0 {
    display: flex;
    flex-shrink: 0;
    padding-left: 36px;
    padding-right: 36px;
}

.multistate_component_2-quero_ser_nubank_-3 {
    width: 136px;
    flex-shrink: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.multistate_component_2-default_hover-7 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
    background: #CA8EE2;
}

.multistate_component_2-1-0 {
    display: flex;
    flex-shrink: 0;
    padding-left: 36px;
    padding-right: 36px;
}

.multistate_component_2-quero_ser_nubank_-8 {
    width: 136px;
    flex-shrink: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

.pd-onhover-parent >.pd-onhover {
    display: none;
}

.pd-onhover-parent:hover > * {
    display: none;
}

.pd-onhover-parent:hover > .pd-onhover {
    display: flex;
}

.pd-onactive-parent > .pd-onactive {
    display: none;
}

.pd-onactive-parent:active > * {
    display: none;
}

.pd-onactive-parent:active > .pd-onactive {
    display: flex;
}

.pd-onactive-parent.pd-onhover-parent:active > .pd-onhover {
    display: none;
}
