.section-section-8 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 62px;
    padding-bottom: 42px;
    background: #F5F5F5;
}

.section-0 {
    display: flex;
    flex-shrink: 0;
    padding-right: 88px;
}

.section-0-0 {
    height: 0px;
    flex-grow: 0.0707876370887338;
    flex-basis: 0px;
}

.section-0-1 {
    display: flex;
    flex-direction: column;
    flex-grow: 0.38783649052841473;
    flex-basis: 0px;
    min-height: fit-content;
    padding-top: 69px;
    padding-bottom: 104px;
}

.section-0-1-0 {
    display: flex;
    flex-shrink: 0;
    padding-right: 198px;
}

.section-nuconta_-4 {
    flex-grow: 1;
    flex-basis: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica', sans-serif;
    color: #8A05BE;
    font-size: 48px;
    line-height: 55px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.section-0-1-1 {
    display: flex;
    flex-shrink: 0;
    margin-top: 20px;
}

.section-rende_mais_que_a_poupan_a_e_voc_n_o_paga_nada_por_isso_-1 {
    width: 389px;
    flex-shrink: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica', sans-serif;
    color: #767676;
    font-size: 48px;
    line-height: 55px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.section-0-1-2 {
    display: flex;
    flex-shrink: 0;
    margin-top: 33px;
    padding-right: 156px;
}

.section-d_bito_entre_na_lista_de_espera_-9 {
    flex-grow: 1;
    flex-basis: 0px;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica', sans-serif;
    color: #8A05BE;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: underline;
    text-align: left;
    word-wrap: break-word;
}

.section-image_3 {
    height: 519px;
    flex-grow: 0.5413758723828515;
    flex-basis: 0px;
    margin-left: 189px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

.pd-onhover-parent >.pd-onhover {
    display: none;
}

.pd-onhover-parent:hover > * {
    display: none;
}

.pd-onhover-parent:hover > .pd-onhover {
    display: flex;
}

.pd-onactive-parent > .pd-onactive {
    display: none;
}

.pd-onactive-parent:active > * {
    display: none;
}

.pd-onactive-parent:active > .pd-onactive {
    display: flex;
}

.pd-onactive-parent.pd-onhover-parent:active > .pd-onhover {
    display: none;
}
